#carrosel-img {
  opacity: 0.5;
  position: static;
  z-index: 0;
}

#bg-dark {
  background-color: black;
}
#mk-pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mk {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  color: white;
  margin-left: 30%;
}
#mk h1 {
  font-size: 5em;
}

#services-title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#coverd-card-services {
  display: flex;
  
}
